@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Zilla+Slab:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --brown: #403838;
    --grey: #e2e1e1;
    --yellow: #f7e0c3;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.bg-brown {
    background: var(--brown);
}

.bg-grey {
    background: var(--grey);
}

.bg-yellow {
    background: var(--yellow);
}

.img-logo {
    width: 35px;
    height: 75px;
}

.logo-text {
    width: 65px;
    height: 45px;
}

.img-logo1 {
    width: 30px;
    height: 55px;
}

.logo-text1 {
    width: 55px;
    height: 38px;
}

.line {
    width: 100%; /* Adjust width as needed */
    height: 1px; /* Adjust height for line thickness */
    background-color: #999; /* Set line color */
    margin-top: 3px; /* Adjust margin for line position */
}

.font-zilla {
  font-family: 'Zilla Slab', sans-serif;
}

.poppins {
    font-family: 'poppins', serif;
}  

.text-yellow {
  color: var(--yellow);
}

.text-brown {
    color: var(--brown);
  }

/* .mbbs {
  width: 250;
  height: 80
} */